.productdisplay{
    display: flex;
    padding: 20px;
}

.productdisplay-left{
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-areas: 
    "img-list main";
    gap:17px;
}

.productdisplay-img-list{
    display: flex;
    flex-direction: column;
    grid-area: img-list;
    width: 100%;
    gap:16px;
}

.productdisplay-img-list img{
    width: 100%;
    height: 166px;
    object-fit: contain;
}


.productdisplay-main-img{
    grid-area: main;
    width: 100%;
    height: 100%;
}

.productdisplay-right{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.productdisplay-right h1{
    text-align: center;
    color: #3d3d3d;
}

.productdisplay-right-description{
    text-align: center;
    max-width: 400px;
}

.productdisplay-right-price{
    margin: 14px 0px;
    font-size: 24px;
    font-weight: 700;
    color: #ff4141;
}

.productdisplay-right-size h1{
    margin-top: 30px;
    font-size: 20px;
    color:#3d3d3d;
    font-weight: 600;
}

.productdisplay-right-color h1{
    margin-top: 30px;
    color:#3d3d3d;
    font-size: 20px;
    font-weight: 600;
}

.productdisplay-right-sizes{
    display: flex;
    gap: 20px;
}

.productdisplay-right-sizes div{
    padding: 18px 24px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 3px;
    cursor: pointer;
}

.productdisplay-right-colors{
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
}

.productdisplay-right-colors div {
    width: 40px; /* Ancho del cuadro de color */
    height: 40px; /* Alto del cuadro de color */
    border-radius: 50%; /* Hacer el cuadro de color redondo */
    cursor: pointer;
    font-size: 0;
}

.productdisplay-right-colors div:nth-child(1) {
    background-color: red;
}

.productdisplay-right-colors div:nth-child(2) {
    background-color: blue;
}

.productdisplay-right-colors div:nth-child(3) {
    background-color: green;
}

.productdisplay-right-colors div:nth-child(4) {
    background-color: black;
}

.productdisplay-right-colors div:nth-child(5) {
    background-color: yellow;
}


@media (max-width: 1300px){
    .productdisplay{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .productdisplay-right-sizes{
        flex-direction: column;
        align-items: center;
    }
    .productdisplay-right-colors{
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 1024px){
    .productdisplay-left{
        grid-template-columns: 1fr;
        grid-template-areas: 
        "main"
        "img-list";
        justify-content: center;
        align-content: center;
        width: 100%;
    }


    .productdisplay-main-img{
        width: 100%;
    }
    .productdisplay-img-list{
        flex-direction: row;

    }

}