.NavBar{
    width: 100%;
    height: 100%;
    background-color: #5FBDFF;
}

.NavBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.NavBar ul .li{
    text-align: center;
    list-style: none;
    font-size: 18px;
    color:antiquewhite;
    font-weight: 500;
    padding: 20px;
    width: 100%;
    height: 100%;
    transition: all 0.5s ease;
}

.NavBar ul .li li{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.NavBar ul .li:hover{
    cursor: pointer;
    background-color: aqua;
}

.logo {
    /* Add any specific styling for the container div */
    padding: 10px;
    width: 100px; /* Adjust the width as needed */
    height: 100px; /* Adjust the height as needed */
  }
  
  .logo svg {
    /* Add styles for the SVG inside the container */
    width: 100%; /* Make the SVG fill the entire container */
    height: 100%; /* Make the SVG fill the entire container */
    fill: black; /* Set the fill color of the SVG */
    object-fit: contain;
  }
  
  
